<div class="relative stars h-screen">
  <div id="globe" class="w-full h-full flex items-center justify-center">
    <jam-rotating-earth></jam-rotating-earth>
  </div>

  <div class="flex w-full items-center justify-center absolute top-0">
    <div class="h-screen">
      <div class="flex justify-center text-white font-bold text-xs pt-5">
        CS 171 FINAL PROJECT | FALL 2023
      </div>
      <div
        class="flex flex-col items-center justify-center h-[calc(100%-60px)]"
      >
        <div class="text-center text-white contents">
          <div class="text-2xl mt-4">Welcome to the Interactive Tool</div>
          <div class="text-7xl my-2">Global Benchmarking</div>
          <div class="text-lg mb-4 mt-4 w-96">
            Explore the correlation and possible causation between Education,
            Environment and Economy.
          </div>
          <a
            class="mt-20 bg-white hover:bg-gray-200 text-[#09119F] font-bold py-2 px-6 rounded-3xl focus:outline-none focus:shadow-outline transform motion-safe:hover:scale-105 transition ease-in-out duration-300"
            routerLink="/exploration/economy"
          >
            <div class="flex flex-col gap-2 items-center">
              <div class="text-2xl">EXPLORE</div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="17"
                height="22"
                viewBox="0 0 17 26"
                fill="none"
                transform="rotate(90)"
              >
                <path d="M2 2L13 13L2 24" stroke="#09119F" stroke-width="5" />
              </svg>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
