<div class="flex right-0">
  <div
    class="flex flex-col w-3/4 bg-[#0D1779] min-h-screen text-white"
    *ngIf="path$ | async as path"
  >
    <div class="p-8">
      <a
        class="flex gap-2 items-center underline underline-offset-4"
        routerLink="/{{getPreviousPath(path.previous)}}"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 20 20"
          fill="none"
          transform="rotate(180)"
        >
          <path d="M1 9L10 18L19 9" stroke="white" stroke-width="1.5" />
          <path d="M10 0V18" stroke="white" stroke-width="1.5" />
        </svg>
        {{ path.previous | titlecase }}
      </a>
      <div class="mt-5 mb-10 space-y-5">
        <div class="font-bold text-xs">
          CS 171 FINAL PROJECT | FALL 2023 | Global Benchmarking
        </div>
        <h1 class="text-5xl">{{title | titlecase}}</h1>
        <p class="text-lg">
          Explore various indicators to understand the Economy across the globe.
        </p>
      </div>
      <div>
        <div class="mt-2">
          <button
            type="button"
            class="max-w-[330px] relative w-full rounded-full bg-white py-3 pl-5 pr-10 text-left text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6 cursor-pointer"
            aria-haspopup="listbox"
            aria-expanded="true"
            aria-labelledby="listbox-label"
            (click)="showCategoryDropdown = !showCategoryDropdown"
          >
            <span class="block truncate text-2xl font-bold text-[#09119F]">
              {{selectedCategory}}
            </span>
            <span
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2"
            >
              <svg
                class="-mr-1 h-10 w-10 text-gray-400"
                viewBox="0 0 20 20"
                fill="#09119F"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                  clip-rule="evenodd"
                />
              </svg>
            </span>
          </button>
          <ul
            *ngIf="showCategoryDropdown"
            class="max-w-[330px] absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-xl bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm transition ease-in duration-100 opacity-100"
            tabindex="-1"
            role="listbox"
            aria-labelledby="listbox-label"
            aria-activedescendant="listbox-option-3"
          >
            <li
              *ngFor="let category of categories$ | async"
              class="text-gray-900 relative select-none py-2 pl-3 pr-9 hover:bg-indigo-600 hover:text-white cursor-pointer"
              id="listbox-option-0"
              role="option"
              (click)="changeSelectedCategory(category)"
            >
              <!-- Selected: "font-semibold", Not Selected: "font-normal" -->
              <span
                class="block truncate"
                [ngClass]="{'font-semibold': category === selectedCategory}"
              >
                {{category}}
              </span>
              <span
                *ngIf="category === selectedCategory"
                class="absolute inset-y-0 right-0 flex items-center pr-4 hover:text-white"
              >
                <svg
                  class="h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"
                  />
                </svg>
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="selectedCategory === 'Year'">
        <div class="relative mt-2">
          <button
            type="button"
            class="max-w-[330px] relative w-full rounded-full bg-white py-3 pl-5 pr-10 text-left text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6 cursor-pointer"
            aria-haspopup="listbox"
            aria-expanded="true"
            aria-labelledby="listbox-label"
            (click)="showYearDropdown = !showYearDropdown"
          >
            <span class="block truncate text-2xl font-bold text-[#09119F]">
              {{selectedYear}}
            </span>
            <span
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2"
            >
              <svg
                class="-mr-1 h-10 w-10 text-gray-400"
                viewBox="0 0 20 20"
                fill="#09119F"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                  clip-rule="evenodd"
                />
              </svg>
            </span>
          </button>
          <ul
            *ngIf="showYearDropdown"
            class="max-w-[330px] absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm transition ease-in duration-100 opacity-100"
            tabindex="-1"
            role="listbox"
            aria-labelledby="listbox-label"
            aria-activedescendant="listbox-option-3"
          >
            <li
              *ngFor="let year of years$ | async"
              class="text-gray-900 relative select-none py-2 pl-3 pr-9 hover:bg-indigo-600 hover:text-white cursor-pointer"
              id="listbox-option-0"
              role="option"
              (click)="changeSelectedYear(year)"
            >
              <span
                class="block truncate"
                [ngClass]="{'font-semibold': year === selectedYear}"
              >
                {{year}}
              </span>
              <span
                *ngIf="year === selectedYear"
                class="absolute inset-y-0 right-0 flex items-center pr-4 hover:text-white"
              >
                <svg
                  class="h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"
                  />
                </svg>
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="pt-8">
        <h2 class="text-2xl font-semibold">TOP 10 RANKINGS</h2>
        <ul class="mt-4">
          <li class="flex justify-between items-center py-2">
            <span class="text-sm">USA</span>
            <span
              class="bg-green-500 h-2 rounded-full"
              style="width: 70%"
            ></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="mt-auto p-8">
      <a
        class="flex gap-2 items-center underline underline-offset-4"
        routerLink="/exploration/{{path.next}}"
      >
        <svg
          class="mt-1"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 20 20"
          fill="none"
        >
          <path d="M1 9L10 18L19 9" stroke="white" stroke-width="1.5" />
          <path d="M10 0V18" stroke="white" stroke-width="1.5" />
        </svg>
        {{ path.next | titlecase }}
      </a>
    </div>
  </div>
  <div class="w-full flex justify-end">
    <jam-globe-component></jam-globe-component>
  </div>
</div>
