<main class="main mt-20">
  <div class="content">
    <div class="left-side">
      <h1 class="text-green-500">{{ title }}</h1>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <ul>
        <h3 class="font-bold">Team Members</h3>
        <li *ngFor="let user of user$ | async" class="nowrap">
          {{ user.firstName }}
          {{ user.lastName }}
          <a class="text-blue-700 cursor-pointer" href="mailto:{{ user }}">{{
            user.email
          }}</a>
        </li>
      </ul>
    </div>
  </div>
</main>

<router-outlet></router-outlet>

<div class="p-5 flex flex-col gap-5">
  <app-earth></app-earth>
  <app-bar></app-bar>
</div>
