<div class="m-5">
  <div class="m-5 flex gap-3">
    <button
      *ngFor="let route of routes"
      type="button"
      class="rounded-full bg-indigo-600 px-3 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
      routerLink="/{{ route.route }}"
    >
      {{ route.title }}
    </button>
  </div>
  <div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
