<div id="deleteData" class="cursor-pointer bg-red-400 rounded w-fit px-5 py-2">
  Delete Data
</div>
<div
  id="addMoreData"
  class="cursor-pointer bg-green-400 rounded w-fit px-5 py-2"
>
  Add Data
</div>
<figure id="wiring"></figure>
<div class="flex justify-center w-full">
  <button
    class="bg-slate-300 rounded px-4 border-2 border-cyan-300 information"
    popovertarget="info"
    popovertargetaction
    type="button"
  >
    Click Me
  </button>
  <div id="info" popover>Extra</div>
</div>
