.tooltip- {
  /* Use absolute positioning for the tooltip for it to be placed in relation to its nearest positioned ancestor */
  position: absolute !important;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  /* Use z-index to ensure the tooltip appears above other content */
  z-index: 1000;
}
