<div class="flex h-screen bg-blue-900 text-white">
  <!-- Sidebar -->
  <div
    class="w-20 h-screen bg-[#03093C] flex flex-col items-center justify-center"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="12"
      height="99"
      viewBox="0 0 12 99"
      fill="none"
    >
      <circle cx="6" cy="6" r="6" fill="white" />
      <circle cx="6" cy="35" r="5.5" stroke="white" />
      <circle cx="6" cy="64" r="5.5" stroke="white" />
      <circle cx="6" cy="93" r="5.5" stroke="white" />
    </svg>
  </div>
  <div class="p-8 space-y-4 bg-green-600">
    <div class="text-white font-bold text-xs pt-5">
      CS 171 FINAL PROJECT | FALL 2023
    </div>
    <h1 class="text-4xl font-bold">Economy</h1>
    <p class="text-xl">
      Explore various indicators to understand the Economy across the globe.
    </p>
    <div>
      <label for="indicator" class="block text-sm font-medium"
        >GDP Per Capita</label
      >
      <select
        id="indicator"
        class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-none rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      >
        <!-- Options -->
      </select>
    </div>
    <div>
      <label for="year" class="block text-sm font-medium">2018</label>
      <select
        id="year"
        class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-none rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      >
        <!-- Options -->
      </select>
    </div>
    <div class="pt-8">
      <h2 class="text-2xl font-semibold">TOP 10 RANKINGS</h2>
      <!-- Rankings could be dynamically generated -->
      <ul class="mt-4">
        <!-- Repeat for each ranking -->
        <li class="flex justify-between items-center py-2">
          <span class="text-sm">USA</span>
          <span class="bg-green-500 h-2 rounded-full" style="width: 70%"></span>
        </li>
        <!-- ...other rankings -->
      </ul>
    </div>
    <button
      class="mt-auto flex items-center px-4 py-2 rounded text-blue-800 bg-white"
      routerLink="/correlation"
    >
      Explore Environment
    </button>
  </div>
  <!-- Main content -->
  <div class="w-3/4">
    <div class="relative h-full">
      <!-- TODO: Globe D3 -->
    </div>
  </div>
</div>
