<div class="flex h-screen bg-blue-900 text-white">
  <!-- Sidebar -->
  <div
    class="w-16 h-screen bg-[#03093C] flex flex-col items-center justify-center"
  >
    <div
      class="flex flex-col items-center justify-center h-screen bg-[#03093C] gap-4"
    >
      <button
        *ngFor="let route of routes"
        class="w-4 h-4 rounded-full border border-white cursor-pointer"
        routerLink="/exploration/{{route.route}}"
        routerLinkActive="bg-white"
        (mouseover)="showTooltip($event, route.title)"
        (mouseout)="hideTooltip()"
      ></button>
    </div>
    <!-- Tooltip -->
    <div
      *ngIf="isTooltipVisible"
      [ngStyle]="tooltipStyle"
      class="absolute z-10 px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm"
    >
      {{ tooltipContent }}
    </div>
  </div>
  <!-- Main Content -->
  <router-outlet></router-outlet>
</div>
